@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;900&display=swap');

:root{
    --cor1: #BB2020 ;
    --cor2: #06111C ;
    --cor3: #BEC7C7 ;
    --cor4: #FFEB4D ;
    --cor5: #050505 ;
    --cor6: #ffffff ;

    --titulo: 'Abril Fatface', cursive;
    --titulo2: 'Times New Roman', Times, serif;
    --paragrafos: 'Outfit', sans-serif;

}

html{ scroll-behavior: smooth; }


body, header, section, main,footer{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
}


a{
    text-decoration: none;
}

h1{
    font-family: var(--titulo);
}

h1{
    font-family: var(--titulo2);
}

p{
    font-family: var(--paragrafos);
}

/* Personalização da barra de rolagem*/
* {
    scrollbar-width: thin;
    scrollbar-color: var(--cor3) var(--cor2);
  }
  
  /* funciona no Chrome, Edge, e Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--cor2);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--cor3);
    border-radius: 20px;
    border: 3px solid var(--cor2);
  }

/* =============================== Header ===============================*/
li{ list-style: none;}
nav.menu a{text-decoration: none;}

.header{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    position: fixed;
    width:100%;
    height: 60px;
    background-image: linear-gradient(to bottom, var(--cor2), transparent);


    z-index: 100;

    
    
}

.menu ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    z-index: 100;


}

.menu ul > a > li{
    color: var(--cor6);
    padding: 0px 10px;
    margin: 0px 10px;

    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1em;
    font-family: var(--titulo2);

    border-bottom: 3px solid transparent;
    transition: 0.5s ease-in-out;

    z-index: 100;



}

.menu ul > a > li:hover{
    border-bottom: 3px solid var(--cor6);
    color: var(--cor4);
    font-size: 1.1em;

    z-index: 100;


}






/* =============================== Main principal ===============================*/
.livro{
    width: 100vw;
    height: 100vh;

    background-image: url(Imgs/img2.jpg);
    margin:0;
    padding:0;

    padding-top: 15px;



}

.capa img{
    width: 300px;
    height: 428px;
    display: block;
    margin-top: 20px;

}

.card{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 428px;
    background: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0px 50px rgba(0, 0, 0, .5), 0px 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;

    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

.card:hover{
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 10px 0px 10px rgba(0, 0, 0, .5), 0px 20px 100px rgba(0, 0, 0, .5), 0px 0px 100px rgba(0, 0, 0, .5);

    border-left: 0px solid black;
    

}

.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width:100%;
    height: 5px;
    background: var(--cor5);
    transform-origin: bottom;
    transform: skewX(-45deg);

}

.card:after{
    content: '';
    position: absolute;
    top: 0px;
    right: -5px;
    width:5px;
    height: 100%;
    background: var(--cor5);
    transform-origin: left;
    transform: skewY(-45deg);

}

.card .capa{
    width:100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;

}
.card:hover .capa{
    transform: rotateY(-135deg);

}
.capa{
    background: white;
    z-index: 1;
    margin-top: -20px;
}

.card .detalhes{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
    padding: 20px;
    z-index:-100;

}

.detalhes h2{
    text-align: center;
    font-size: 2.1em;
    
    

}

.detalhes p{
    text-align: justify;
}
div.detalhes p > small{
    padding-left: 10%;
    

}
.detalhes button{
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--cor1);
    border-color: var(--cor3);
    color: var(--cor6);
    font-size: 1.2em;
    
    transition: .4s linear

}

.detalhes button:hover{
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--cor4);
    border-color: var(--cor6);
    color: var(--cor5);
    font-size: 1.3em;

}


/* =============================== Info ===============================*/

#github{
    color: var(--cor1);
    font-weight: bolder;
    transition: 0.2s linear;
}

#github:hover{
    color: var(--cor1);
    background: var(--cor3);
    text-decoration: underline;

}

.info{
    background-image: url(Imgs/fundo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin:auto;
    padding: 10px 0px;
    


    width: 100%;
    height: 600px;
    
    overflow-x: hidden;
    overflow-Y: hidden;
}

.info2{
    background: var(--cor4);
    margin:auto;
    padding: 20px;

    max-width: 600px;
    height: 560px;

    background-color: var(--cor6);
    border-radius: 10px;

}

.info2 h1{
    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, transparent, var(--cor2), transparent);
    color: var(--cor6);
    text-shadow:  1px 0px 5px var(--cor3);

    

}

.info2 h2{
    text-align: left;
    font-size: 1.8em;
    background-image: linear-gradient(to right,var(--cor3), transparent, transparent);
    color: var(--cor5);
    padding-left: 10px;
    text-shadow:  0px 0px 5px var(--cor6);

}

.info2 p{
    text-align: left;
    font-size: 1.1em;
    color: var(--cor5);
    padding-left: 10px;
    text-align: justify;

}



/* =============================== capitulos ===============================*/


.capitulos{
    background: linear-gradient(45deg, var(--cor2), var(--cor3));
    background-size: 300% 300%;
    animation: fundo 10s ease infinite;

    margin:auto;
    padding: 15px 0px;
    


    width: 100%;
    height: auto;
    
    overflow-x: hidden;
    overflow-Y: hidden;
}

@keyframes fundo{
    0%{
        background-position: 0% 50%;

    }

    50%{
        background-position: 100% 50%;

    }

    100%{
        background-position: 0% 50%;

    }

}

.capitulos2{
    background: var(--cor4);
    margin:auto;
    padding: 20px 0px;

    max-width: 800px;
    height: auto;

    background-color: var(--cor6);
    border-radius: 10px;

}
.capitulos2 h2#todososcaps{
    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, transparent, var(--cor2), transparent);
    color: var(--cor6);
    text-shadow:  1px 0px 5px var(--cor3);

}


.ler{
    display:grid;
    grid-template-areas: 'img titulo'
    'img resumo';
    padding:5px;
    margin:20px;
    background-color: var(--cor3);
    cursor: pointer;

    border-radius: 10px;
    transition: .3s ease-in-out




}

.ler:hover{
    background-color: var(--cor4);
    border-radius: 10px;

}

.ler img{
    max-width: 400px;
    height: 100%;
    grid-area: img;
    margin-right:5px;
    border-radius: 10px;
    transition: .4s ease;

}

.ler img:hover{
    border-radius: 0px;
    
    
}

.ler h2{
    grid-area: titulo;
    text-align: center;
    background-image: linear-gradient(to right, transparent, var(--cor6), transparent);
    font-size: 1.5em;
    font-family: var(--titulo);
    font-weight: normal;
    color:var(--cor5);
    text-shadow:  1px 0px 5px var(--cor3);


}
.ler p{
    grid-area: resumo;
    text-align: justify;
    margin-right: 5px;
    color:var(--cor5);
}

/*=========================*/
@media (max-width: 800px){
    .ler{
        display:grid;
        grid-template-areas: 'img img'
                             'titulo titulo'
                             'resumo resumo';
        padding:15px;
        margin:20px 0px;
        background-color: var(--cor3);
    }

    .ler img{
        max-width: 100%;
        height: 100%;
    }
   
}


/* =============================== Idiomas ===============================*/




.idiomas{
    background-image: url(Imgs/fundo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin:0 auto;
    padding: 10px 0px;
    


    width: 100%;
    height: auto;
    
    overflow-x: hidden;
    overflow-Y: hidden;
}

.idiomas2{
    display:grid;
    grid-template-areas: ' texto texto'
                         'img1 img2';
    grid-gap: 10px;


    background: var(--cor4);
    margin:auto;
    padding: 20px;

    max-width: 800px;
    height: auto;

    background-color: var(--cor6);
    border-radius: 10px;

}

.idiomas2 h2{
    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, transparent, var(--cor2), transparent);
    color: var(--cor6);
    text-shadow:  1px 0px 5px var(--cor3);

    grid-area: texto;

    

}

.idiomas2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

    margin: 0 auto;
    cursor: pointer;
    transition: .3s ease-in;


}
.idiomas2 img:hover{
    border-radius: 40px;

}

.idiomas2 p {
    text-align: center;
    font-size: 1.3em;
}

#img1{grid-area: img1;}
#img1{grid-area: img2;}

/* =============================== footer ===============================*/

.footer{
    background: var(--cor2);
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;

    box-shadow:  0px -2px 2px var(--cor5);

}

.footer2{
    max-width: 500px;
    height: auto;
    margin: 0 auto;

    padding: 0px 20px;


}

.footer2 p{
    color: var(--cor6);
    text-align: center;
    transition: .2s ease-in;
    cursor: pointer;

}

.footer2 p:hover{
    color: var(--cor1);
    text-decoration: underline;

}



